/********RESER**********/

/* Reset CSS */

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*********CustomCSS***********/

:root {
  --bs-primary: #697994;
  --bs-secondary: #414f6b;
  --bs-body-bg: #ffffff;
  --bg-carousel: #38445b;
  --bg-activeTab: #b0b4be;
  --bs-body-font-family: "Oswald", sans-serif;
  --bs-body-font-family-secondary: "Lato", sans-serif;
}

body {
  font-family: var(--bs-body-font-family);
}

/*********HEADER***********/

.header {
  z-index: 99;
}

.header__link {
  font-family: var(--bs-body-font-family-secondary);
  font-weight: 700;
  font-style: italic;
  text-decoration: none;
}
.header__link:hover {
  text-decoration: underline;
  text-underline-offset: 8px;
}

.hero {
  background: url(/assets/banner.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: -187px 0px;
}

.custom__container__banner {
  height: 400px;
}
.text__second__nav {
  color: var(--bs-secondary);
  font-size: 20px;
}
.links__second__nav {
  padding-top: 20px;
  gap: 20px;
}
.text__second__nav :active {
  color: var(--bs-secondary);
}
.second__content {
  flex-direction: column;
}
@media (min-width: 375px) {
  .custom__container__banner {
    height: 430px;
  }
}

@media (min-width: 425px) {
  .hero {
    background-position: -259px 0px;
  }
  .custom__container__banner {
    height: 540px;
  }
}
@media (min-width: 768px) {
  .custom__container__banner {
    height: 100vh;
  }
  .hero {
    background-position: center;
  }
  .second__content {
    flex-direction: row;
  }

  .links__second__nav {
    padding-top: 0px;
    gap: 20px;
  }
  .text__second__nav {
    font-size: 15px;
  }
}

/*********HISTORY***********/

.history {
  background: url(/assets/banner2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.history__banner {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  transform: translateX(-50%) translateY(-50%);
  z-index: 1;
}

.custom__container {
  height: fit-content;
}

.title__history {
  padding-bottom: 15px;
}

.title__history h2 {
  font-size: 4rem;
  font-weight: 600;
  letter-spacing: -2px;
  color: var(--bs-primary);
  font-family: var(--bs-body-font-family);
  opacity: 0.9;
}

.title__history h3 {
  font-size: 2rem;
  font-weight: 500;
  color: var(--bs-secondary);
  font-family: var(--bs-body-font-family);
}

.title__cube {
  width: 25px;
  height: 25px;
  background-color: var(--bs-primary);
}

.title__relative {
  top: -14px;
  left: 3px;
}

@media (min-width: 768px) {
  .title__history h2 {
    font-size: 8rem;
    letter-spacing: -6px;
  }
  .custom__container {
    height: 100vh;
  }
  .title__relative {
    top: -28px;
    left: -21px;
  }

  .title__history {
    padding-bottom: 0;
  }
}

.content__history {
  width: 90%;
  font-family: var(--bs-body-font-family-secondary);
  font-weight: normal;
}
.carousel {
  padding-top: 25px;
  background-color: rgba(56, 68, 91, 0.8);
  padding-bottom: 18px;
}

/*********CLIMB***********/
@media (min-width: 320px) {
  .title__climb {
    flex-direction: column;
  }
}

@media (min-width: 425px) {
  .title__climb {
    flex-direction: row;
  }
}

.content__climb {
  font-family: var(--bs-body-font-family-secondary);
  font-weight: normal;
}

.tabs {
  background-color: var(--bg-carousel);
  color: var(--bs-primary);
}
.tabs h3 {
  font-size: 1.5rem;
  font-weight: 500;
  text-transform: uppercase;
}

.list__item.active {
  background-color: var(--bg-activeTab);
  color: var(--bg-carousel);
  text-decoration: underline;
}

.tabs__custom__container {
  background: url(/assets/banner3.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 530px;
  padding-top: 80px;
  padding-left: 20px;
}

.tab__information {
  width: 40%;
  background-color: rgba(242, 244, 247, 0.8);
}
.tab__information h2 {
  color: var(--bg-carousel);
  font-size: 2rem;
  font-weight: 500;
  text-transform: uppercase;
}

.schedule__list {
  display: none;
}

.schedule__list li {
  padding: 5px;
  font-family: var(--bs-body-font-family-secondary);
}
.schedule__list span {
  padding: 60px;
}

.schedule__list.active {
  display: block;
}

.tabs_desktop {
  display: none;
}

@media (min-width: 768px) {
  .tabs_desktop {
    display: block;
  }
}

.tabs_mobile {
  background: url(/assets/banner3.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  display: block;
}

@media (min-width: 768px) {
  .tabs_mobile {
    display: none;
  }
}

.tab__mobile {
  background-color: var(--bs-body-bg);
  border: 1px solid grey;
}

.tab__mobile li:last-child {
  border: none;
}

.tab__button__mobile {
  border-bottom: 1px solid gray;
}

.tab__content__mobile {
  border-bottom: 1px solid gray;
}

.tab__content__mobile {
  display: none;
}

.tab__content__mobile.active {
  display: block;
}

/*********Footer***********/

.site__footer {
  background-color: var(--bg-carousel);
}

.site__footer p {
  font-size: 8px;
  font-family: var(--bs-body-font-family-secondary);
  font-weight: bolder;
  font-style: italic;
  color: var(--bs-primary);
}

.footer__items {
  gap: 10px;
}

@media (min-width: 425px) {
  .site__footer p {
    font-size: 10px;
  }
}

@media (min-width: 768px) {
  .site__footer p {
    font-size: 15px;
  }
  .footer__items {
    gap: 0;
  }

  .tabs_mobile {
    display: none;
  }
}

/*********Tiny Slider***********/
.tns-nav {
  text-align: center;
  margin-top: 15px;
  margin-bottom: 15px;
}
.tns-nav button {
  width: 7px;
  height: 13px;
  background-color: #a5a5a5;
  border: none;
  margin-left: 7px;
  border-radius: 50%;
}

.tns-nav .tns-nav-active {
  background-color: white;
}
